header {
    background-color: #FFFFFF;
    color:#FFFFFF;
    align-items: center;
    
}

.logo {
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
}

body {
    background-color: whitesmoke;
}

main {
    background-color: white;
    padding: 16px;
}

.post {
    margin-bottom: 48px
}

.post .user-info img {
    border-radius: 50%;
}

.post .user-info h2:hover {
    background-color:teal ;
}