header {
    background-image:
    linear-gradient(
      45deg, 
      #001356, #D3D3D3
    );
    align-items: center;
}

.username {
    font-weight:bold;
    color:#9b9b9b;
}

h3 {
    font-size:12px;
    font-weight:100;
    color:#BABABA;
}

p {
    color: #9b9b9b;
}

header img {
    width: 50px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom:10px;
}

body {
    background-color: whitesmoke;
}

main {
    background-color: white;
    margin-top: 10px;
    padding: 16px;
}

.post {
    margin-bottom: 48px
}

.post .user-info img {
    border-radius: 50%;
}

.post .user-info h2:hover {
    color:teal;
}

.actions img {
    width: 16px;
}